doctype html
html
  head
   title= htmlWebpackPlugin.options.title
   script(src="./js/ndoo_prep.js")
  body
    script.
      ndoo.vars.abc =  1;
      ndoo.on('test', function() {
        console.log('test');
      });
    script(src="./lib/underscore-min.js")
    script(src="./js/ndoo.js")
    script.
      ndoo.app('home', {
        indexAction: function() {
        ndoo.trigger('test');
        console.log('home/index');
        }
      });

      ndoo.init('home/index');