extends shared/_layout

block pageTitle
  include shared/_variable
  include shared/_mixin
  title 参数的使用#{titleSuffix}

block pageHeader
  h1 参数的使用

block pageContent
  h3 1. page id中设置参数
  +renderCode('html')
    ='<div id="scriptArea" data-page-id="home/index?abc">'

  h3 2. 获取参数
  +renderCode('javascript')
    ="indexAction: function(params){\n"
    ="  var $content;\n"
    ="  $content = $('#content');\n"
    ="  $content.html('module: home, action: indexAction param: ' + params);\n"
    ="}"
  p.notice
    |此处params为字符串abc，ndoojs自运过滤掉了?（问号）
