doctype html
html
  head
    meta(charset="UTF-8")
    title example
    script(src="../js/ndoo_prep.js")
  body
    p content
    #scriptArea(data-page-id="example/main")
      script(src="../lib/sea.js")
      script(src="../lib/underscore-min.js")
      script(src="../lib/jquery-2.1.1.min.js")

      script(src="../lib/Do.js")
      script(src="../js/do_define.js")
      script(src="../js/ndoo_lib.js")
      script(src="../js/ndoo.js")
      script(src="../js/app.js")
