extend shared/_layout

block pageTitle
  include shared/_variable
  title service usage
  script(src="#{jsPath}/ndoo_prep.js")

block pageContent

block pageScript
  #scriptArea(data-page-id="home/serviceUsage")
    script(src="lib/underscore-min.js")
    script(src="lib/jquery-2.1.1.min.js")
    script(src="lib/Do.js")
    script(src="js/ndoo_all.js")
    script(src="js/ndoo_service.js")
    script(src="js/homeApp.js")
    script.
      ndoo.init();
