doctype html
html
  head
    meta(charset="UTF-8")
    title test event off api
    script(src="js/ndoo_prep.js")
  body
    #scriptArea(data-page-id="test/eventOff")
      script(src="lib/sea.js")
      script(src="lib/underscore-min.js")
      script(src="lib/jquery-2.1.1.min.js")
      script(src="lib/Do.js")
      script(src="js/ndoo_lib.js")
      script(src="js/ndoo.js")
      script(src="js/ndoo_block.js")
      script(src="js/do_define.js")
      script(src="js/app.js")
      script.
        ndoo.init();
