doctype html
html
  head
    meta(charset="UTF-8")
    // meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    title index
  body
    :markdown
      # example
      - [example/main](main.html)
      - [ndoo/test/main](ndoo.test.html)
      - [block/test](test.block.html)
      - [event off](event_off.html)
      - [example1](example1.html)
      - [test](test.html)
      - [正则测试](regtest.html)
