extends shared/_layout

block pageTitle
  include shared/_variable
  title started-ndoojs

block pageContent
  p#container

block pageScript
  #scriptArea(data-page-id="home/index")
    script(src="#{libPath}/underscore-min.js")
    script(src="#{libPath}/jquery-2.1.1.min.js")
    script(src="#{jsPath}/ndoo_all.js")
    script
      :coffee
        $        = @['jQuery'] || @['Zepto']

        _n = @ndoo

        _n.app 'home',
          indexAction: ->
            $('#container').html 'hello ndoojs!'

        _n.init()
