doctype html
html
  head
    meta(charset="UTF-8")
    title example2
    script(src="../js/ndoo_prep.js")
  body
    p#content
    #scriptArea(data-page-id="home/index")
      script(src="../lib/underscore-min.js")
      script(src="../lib/jquery-2.1.1.min.js")
      script(src="../lib/Do.js")
      script(src="../js/ndoo_lib.js")
      script(src="../js/ndoo.js")
      script.
        (function(_n){
          Do.define('home', {
            path: 'js/example1.js',
            type: 'js'
          });
          _n.on('NAPP_DEFINE', function(){
            _n.setApp('home');
          });
        })(this.N = this.ndoo || (this.ndoo = {}));
