extends shared/_layout

block pageContent

  h1 参数的使用

  h3 1. page id中设置参数
  pre: code(data-language="html")
    ='<div id="scriptArea" data-page-id="home/index?abc">'

  h3 2. 获取参数
  code: pre(data-language="javascript")
    | indexAction: function(param){
    |   var $content;
    |   $content = $('#content');
    |   $content.html('module: home, action: indexAction param: ' + param);
    | }
  p.notice
    |此处param为字符串abc，ndoojs自运过滤掉了?（问号）
