extends shared/_layout

block pageTitle
  include shared/_variable
  include shared/_mixin
  title 依赖加载#{titleSuffix}

block pageHeader
  h1 依赖加载
  p
    |ndoojs可以为action定义依赖，当执行到action时会先加载需要的依赖(使用do.js加载)。
    br
    |do.js 参考
    a(href="ref.do.html") do.js

block pageContent
  h3 1. 示例：
  +renderCode('javascript')
    ="// jquery模块定义\n"
    ="Do.define('jquery', {\n"
    ="  path: jsPathbase + '/jquery-2.1.1.min.js',\n"
    ="  type: 'js'\n"
    ="});\n"
    ="// 设置jquery为默认已加载\n"
    ="Do.setLoaded(['jquery']);\n"
    ="// 声明依赖\n"
    ="mainDepend: ['jquery'],\n"
    ="mainAction: function(param){\n"
    ="  console.log(typeof jQuery);\n"
    ="}"
