extends shared/_layout

block pageTitle
  include shared/_variable
  include shared/_mixin
  title 依赖加载#{titleSuffix}

block pageHeader
  h1 依赖加载

block pageContent
  p
    |ndoojs可以为action定义依赖，当执行到action时会先加载需要的依赖(使用do.js加载)。do.js 参考
    a(href="ref.do.html") do.js
  h3 Action依赖
  p ndoojs支持为单个Action定义依赖，格式为ActionName+Depend。示例：
  +renderCode('javascript')
    ="// jquery模块定义\n"
    ="Do.define('jquery', {\n"
    ="  path: jsPathbase + '/jquery-2.1.1.min.js',\n"
    ="  type: 'js'\n"
    ="});\n"
    ="// 设置jquery为默认已加载\n"
    ="Do.setLoaded(['jquery']);\n"
    ="// 声明依赖\n"
    ="_n.app('home', {\n"
    ="  indexDepend: ['jquery'], \n"
    ="  indexAction: function() {\n"
    ="    console.log(typeof jQuery);\n"
    ="  }\n"
    ="});"
  h3 App依赖
  p 可以直接为一个App定义依赖，在App中定义一个名为depend的属性即可。示例：
  +renderCode('javascript')
    ="_n.app('home', {\n"
    ="  depend: ['jquery'], \n"
    ="  indexAction: function() {\n"
    ="    console.log(typeof jQuery);\n"
    ="  }\n"
    ="});"
