extends shared/_layout

block pageContent
  h1 过滤器
  p ndoojs支持自定义过滤器，指定全局执行的方法。过滤器有before、after两种情形，过滤器支持only、except修饰。

  h3 1. 前置过滤器
  p 使用before声明，例如：
  code: pre(data-language="javascript")
    | before: {
    |   filter: 'before'
    | },
    | 
    | beforeFilter: function() {
    |   alert("before filter");
    | },
    | 
    | indexAction: function(params){
    |   var $content;
    |   $content = $('#content');
    |   $content.html('module: home, action: indexAction);
    | }

  h3 2. 后置过滤器
  p 后置过滤器使用after声明，其它同前置过滤器。

  h3 3. only修饰
  p only表示过滤器只针对指定的action。
  code: pre(data-language="javascript")
    | before: {
    |   filter: 'before',
    |   only: 'index'
    | },
    | 
    | beforeFilter: function() {
    |   alert("before filter");
    | },
    | 
    | indexAction: function(params){
    |   var $content;
    |   $content = $('#content');
    |   $content.html('module: home, action: indexAction);
    | }

  h3 4. except修饰
  p except表示过滤器针对在除except以外的action上。
