extends shared/_layout

block pageTitle
  include shared/_variable
  include shared/_mixin
  title 变量和事件暂存#{titleSuffix}

block pageHeader
    h1 变量和事件暂

block pageContent
  h3 说明
  p ndoojs支持在页面中间暂存数据，和事件。在页面底部基础库加载完成后调用。使用变量或事件暂存，需要在head标签处引入ndoo_prep.js。

  h3 1.变量暂存
  p 通过ndoo.vars名称空间来进行变量赋值，在应中中使用。示例：
  h3 2.事件暂存
  p 通过ndoo.on API注册事件，等到页面底部时触发。示例：
