extends shared/_layout

block pageTitle
  include shared/_variable
  include shared/_mixin
  title 模块事件#{titleSuffix}

block pageHeader
  h1 模块事件

block pageContent
  p ndoojs支持给模块定义事件，在指定模块的action调用前和调用后触发事件。
  h3 1. 前置事件
  p 事件名 NAPP_[moduleName]_ACTION_BEFORE，回调函数接受3个参数，分别是 controller、actionName、params。示例：
  +renderCode('javascript')
    ="_n.on('NAPP_HOME_ACTION_BEFORE', function(controller, actionName, params){\n"
    ="  console.log('controller:' + controller + '\\n actionName:' + actionName + '\\n params' + params);\n"
    ="});\n"
    ="\n"
    ="/* [home module] {{{ */\n"
    ="_n.app('home', {\n"
    ="  indexAction: function(param){\n"
    ="    var $content;\n"
    ="    $content = $('#content');\n"
    ="    $content.html('module: home, action: indexAction');\n"
    ="  }\n"
    ="});\n"
    ="/* }}} */"

  h3 2. 后置事件
  p 事件名 NAPP_[moduleName]_ACTION_AFTER，回调函数接受3个参数，分别是 controller、actionName、params。示例：
  pre: code(data-language="javascript")
  +renderCode('javascript')
    ="_n.on('NAPP_HOME_ACTION_AFTER', function(controller, actionName, params){\n"
    ="  console.log('controller:' + controller + '\\n actionName:' + actionName + '\\n params' + params);\n"
    ="});\n"
    ="\n"
    ="/* [home module] {{{ */\n"
    ="_n.app('home', {\n"
    ="  indexAction: function(param){\n"
    ="    var $content;\n"
    ="    $content = $('#content');\n"
    ="    $content.html('module: home, action: indexAction');\n"
    ="  }\n"
    ="});\n"
    ="/* }}} */"
