extends shared/_layout

block pageTitle
  include shared/_variable
  include shared/_mixin
  title 手动加载#{titleSuffix}

block pageHeader
  h1 手动加载

block pageContent
  p
    |ndoojs提供require方法来手动加载自定义模块，支持do.js和seajs两种加载方式。do.js 参考
    a(href="ref.do.html") do.js
  h3 1. 参数说明
  +renderCode('javascript')
    ="ndoo.require(\n"
    ="  (array|string) depend, // 需要加载的依赖\n"
    ="  (function) callback,   // 另载完成的回调\n"
    ="  (string) type          // 类型,支持Do.js和seajs\n"
    ="}"

  h3 2. 示例
  p 加载seajs类型的包，和依赖插件
  +renderCode('javascript')
    ="// file jquery-1.11.1.js\n"
    ="define(function(require, exports, module) {\n"
    ="  ...\n"
    ="});\n"
    ="// file jquery-mytest.js\n"
    ="define(function(require, exports, module) {\n"
    ="    var $ = require('./jquery-1.11.1.js');\n"
    ="    $.fn.mytest = function () {\n"
    ="        console.log($.version);\n"
    ="    }\n"
    ="});\n"
    ="// file app.js\n"
    ="mainAction: function(param){\n"
    ="  console.log(param);\n"
    ="  _n.require(['../example/lib/jquery-1.11.1.js', '../example/lib/jquery-mytest.js'], function(a){\n"
    ="    a('body').mytest();\n"
    ="  }, 'seajs');\n"
    ="}"
