doctype html
html
  head
    meta(charset="UTF-8")
    block pageTitle
      title index
    link(rel="stylesheet", type="text/css", href="css/style.css")
  body
    .layout
      .menu
        h3 基础用法
        ul
          li: a(href="index.html") 入门
          li: a(href="basic.param.html") 参数的使用
          li: a(href="basic.namespace.html") 名称空间
          li: a(href="basic.autoload.html") 自动加载
          li: a(href="basic.block.html") 块级组件
          li: a(href="basic.hook.html") 前置和后置操作
          li: a(href="basic.filter.html") 过滤器
          li: a(href="basic.moduleevent.html") 模块事件
          li: a(href="basic.require.html") 手动加载
          li: a(href="basic.depend.html") 依赖加载
        h3 参考
        ul
          li: a(href="ref.event.html") 事件参考
          li: a(href="ref.do.html") Do.js参考
      .docs.theme1
        block pageContent
