doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    block pageTitle
      title ndoojs
    include _stylesheet
  body
    #layout.layout
      a#menuLink.menu-link(href="#menu")
        // Hamburger icon
        span
      #menu
        .menu.pure-menu
          h1.pure-menu-heading.menu-title ndoojs文档
          h3.pure-menu-heading.menu-item-divided 基础用法
          ul.pure-menu-list
            li.pure-menu-item: a.pure-menu-link(href="index.html") 入门
            li.pure-menu-item: a.pure-menu-link(href="basic.param.html") 参数的使用
            li.pure-menu-item: a.pure-menu-link(href="basic.namespace.html") 名称空间
            li.pure-menu-item: a.pure-menu-link(href="basic.autoload.html") 自动加载
            li.pure-menu-item: a.pure-menu-link(href="basic.block.html") 块级组件
            li.pure-menu-item: a.pure-menu-link(href="basic.hook.html") 前置和后置操作
            li.pure-menu-item: a.pure-menu-link(href="basic.filter.html") 过滤器
            li.pure-menu-item: a.pure-menu-link(href="basic.moduleevent.html") 模块事件
            li.pure-menu-item: a.pure-menu-link(href="basic.require.html") 手动加载
            li.pure-menu-item: a.pure-menu-link(href="basic.depend.html") 依赖加载
          h3.pure-menu-heading.menu-item-divided 参考
          ul.pure-menu-list
            li.pure-menu-item: a.pure-menu-link(href="ref.event.html") 事件参考
            li.pure-menu-item: a.pure-menu-link(href="ref.do.html") Do.js参考
            li.pure-menu-item: a.pure-menu-link(href="api/") API
      #main
        .docs.theme1
          .header
            block pageHeader
          .content
            block pageContent

    include _script
