link(rel="stylesheet", type="text/css", href="#{cssPath}/pure-min.css")
link(rel="stylesheet", type="text/css", href="#{cssPath}/style.css")
link(rel="stylesheet", type="text/css", href="#{cssPath}/prism.css")
