doctype html
html
  head
    title user signin
    link(rel="stylesheet" href="css/signin.css")
  body
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') Sign in example
        #navbar.navbar-collapse.collapse(data-nblock-id="block/userInfo")
          // form.navbar-form.navbar-right
            .form-group
              input.form-control(type='text', placeholder='Email')
            .form-group
              input.form-control(type='password', placeholder='Password')
            button.btn.btn-success(type='submit') Sign in
        // /.navbar-collapse
    // Main jumbotron for a primary marketing message or call to action
    .jumbotron
      .container
        h1.hello Hello, world!
        p
          | This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.
        p
          a.btn.btn-primary.btn-lg(href='#', role='button') Learn more »
    .container
      // Example row of columns
      .row
        .col-md-4
          h2 Heading
          p
            | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
          p
            a.btn.btn-default(href='#', role='button') View details »
        .col-md-4
          h2 Heading
          p
            | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
          p
            a.btn.btn-default(href='#', role='button') View details »
        .col-md-4
          h2 Heading
          p
            | Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
          p
            a.btn.btn-default(href='#', role='button') View details »
      hr
      footer
        p © 2015 Company, Inc.
    // .container
      button(type="button" class="btn btn-primary btn-lg btn-modal" data-toggle="modal" data-target="#myModal") Signin
      #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
              h4#myModalLabel.modal-title Please sign in
            .modal-body
              form.form-signin
                // h2.form-signin-heading Please sign in
                label.sr-only(for='inputEmail') Email address
                input#inputEmail.form-control(type='text', placeholder='ID/Email address', required='', autofocus='')
                label.sr-only(for='inputPassword') Password
                input#inputPassword.form-control(type='password', placeholder='Password', required='')
                .checkbox
                  label
                    input(type='checkbox', value='remember-me')
                    |  Remember me
                button.btn.btn-lg.btn-primary.btn-block.btn-signin(type='button') Sign in
            // .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') Close
              button.btn.btn-primary(type='button') Save changes
    #scriptArea
      -var jsPath = '../js'
      -var libPath = '../lib'
      script(src="#{libPath}/jquery-2.1.1.min.js")
      script(src="#{libPath}/underscore-min.js")
      script(src="#{jsPath}/ndoo_all.js")
      script(src="#{libPath}/do.js")
      script(src="js/package.js")
      script.
        ndoo.init('user/signin', ['lib.bootstrap_js'])
